<div fxLayout="row" fxLayoutAlign="center center">
    <h3>People</h3>
</div>
<div>
    <button mat-button color="primary" (click)="generate()"> <mat-icon>save</mat-icon> Generate </button>
</div>
<mat-divider></mat-divider>

<div *ngIf="people$ | async; let people">
<mat-list>
    <h3 matSubheader>Pessoas</h3>
    <mat-list-item *ngFor="let p of people">
        <mat-icon matListIcon>person</mat-icon>
        <h3 matLine> {{ p.name }} {{ p.lastname }}</h3>
        <p matLine>
            <span>  {{ p.email }} </span>
            <span> {{ p.age }} - {{ p.company }} </span>
        </p>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
</div>